/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}/* remember to define focus styles! */
:focus {outline: 0;}/* remember to highlight inserts somehow! */
ins {text-decoration: none;}
del {text-decoration: line-through;}/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse: collapse; border-spacing: 0;}

.left{float: left;}
.right{float: right;}
.clear{clear: both;}

.erro{padding: 10px;background: #FFC6D1;font-size: 14px; margin-bottom: 10px;}
.aviso{position: fixed; top: 0; left: 580px; padding: 10px;background: #D6FF97;font-size: 14px; margin-bottom: 10px;}

h1{margin-bottom: 10px;}

body{
  margin: 0 auto;
  display: block;
  font-family: Arial;
  line-height: 1.3em;
}

.navbar{display: block; /*height: 30px;*/ background: #2D2D2D; }
.navbar ul{ width: 980px; margin: 0 auto; }
.navbar ul li{ display: inline-block; padding: 1px 0; margin-right: 30px; }
.navbar ul li a{ color: #BBB; font-size: 13px; text-decoration: none; font-weight: bold; }
.navbar ul li a:hover{ color: #FFF; }

.topo{ border-bottom: 1px solid #DDD; background: #f9f9f9; }
.topo form{/*width: 700px;*/ margin: 0 auto; padding:20px; }
.topo form h1{font-family: 'Century Gothic'; font-size: 22px; }
.topo form p{margin: 10px 0; text-align: center; }
.topo form input[type=text]{width: 600px;padding: 6px; font-size: 16px; }
.topo form .campos{ width: 600px;padding: 6px; font-size: 16px;}
.topo form input[type=submit]{width: 90px;padding: 6px; background: #f5f5f5;border: 1px solid #DDD; }

.corpo{padding: 20px; width: 980px; margin: 0 auto; }

.corpo .box{border-bottom: 1px dashed #ddd;padding-bottom: 10px; margin-bottom: 10px; }
.corpo .box .titulo{font-size: 16px;color: #004B97; text-decoration:underline; }
.corpo .box .titulo a{font-size: 16px;color: #004B97; text-decoration:underline; }
.corpo .box .texto{font-size: 13px; }
.corpo .box .data{font-size: 10px; color: #009933; }

.frmgeral label{display: block; margin-bottom: 5px; font-weight: bold;}
.frmgeral p{display: block; margin-bottom: 15px;}
.frmgeral .campos{border: 1px solid #DDD; padding: 6px; font-size: 15px; width: 90%; }

.box-geral{border: 1px solid #DDD; padding: 20px; background: #f9f9f9;}

.view-nota{display: block;padding: 10px; border: 1px solid #DDD; background: #FFF;font-size: 14px;white-space: pre-wrap; }

/*
.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
	background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
	background-color:#63b8ee;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	color:#14396a;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #7cacde;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color:#468ccf;
}.button:active {
	position:relative;
	top:1px;
}*/

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.button:active {
	position:relative;
	top:1px;
}
